<%- include('partials/header') %>

<li class="nav-item">
    <a href="/compose" class="">Create Post</a>
</li>

<li class="nav-item">
    <a href="/createdirectory" class="">Create Directory</a>
</li>

<li class="nav-item">
    <a href="/addgallery" class="">Add To Directory</a>
</li>