<%- include('partials/header') %>

<div >
    <h1 class="blog-heading">
       Medix <span class="insight">insight</span> 
    </h1>
</div>

<div id="blog-container"  >
    
    
    <div class="blog-box">
    
        <div class="date-box">
            <h1 class="blog-date"> Oct 19</h1>
        </div>
        <div class="blog-post">
            
            <h3  ><a href="/post" class="blog-topic">Adverse Effects Of Drug Abuse</a></h3>
            <h4 class="blog-writer"> Emefo Victoria</h4>
            <div class="bloggish row">
                <p class="blog-content  col-lg-7">Kynade hemiling. Epira livslogga. Telena krod. Speling klickfiske. Myl faktig hemisudat i reatik plalig. Agnostityp ultraliga, det vill säga premyl i ryggsäcksmodellen. Du kan vara drabbad. 
                    Polykemi pretåska tägining kuvypp titål. Rasam årat. Äbel ov. Pora krana engar. Tägt villamatta, fektiga inte anasa kasamma. Od dihet. 
                    </p>

                    <div class="blog-img-box col-lg-5">
                        <a href="/post"><img class="blog-img" src="images/drugs-img.png" alt=""> </a>
                    </div>
            </div>
            
        </div> 
    </div>

    

    <div class="blog-line"></div>
</div>


