<%- include('partials/header') %>

<!-- Hero Section -->
<div class="container-fluid reveal">
    <div class="hero-page row">
        <div class="hero-content col-lg-6  col-md-6">
            <h1 class="hero-title">Changing Lives. <br> Advance Medicene.</h1>
            <p class="hero-text">Rebranding students research, Connect with members all across the globe; students and alumni.</p>
            <a href="" class="btn hero-btn">Join Us</a>
        </div>
        
        <div class="hero-img-container col-lg-6 col-md-6">
            <img src="images/hero-img.png" alt="" class="hero-img">
        </div>
    </div>
</div>



<!-- Research section -->


<div class="row research-container ">
    <div class="research-img-container col-lg-6 ">
        <img src="images/research-img.png" alt="" class="research-img">
    </div>

    <div class="reaearch-content col-lg-6 ">
        <div class="research-text-content">
            <h2 class="research-subtitle">Facilitating research success</h2>
            <p class="research-text">Want to ba a part of something bigger? you can also join our research team. Because the more we know as a medical community, the more opportunity we have for discoveries that can change health for you, your loved ones, and people around the world.</p>    
        </div>
        <a href="" class="btn  research-btn">Learn more</a>
    </div>
</div>


<!-- Humanitarian Section
<div class="humanitarian-container row">
    <div class="humanitarian-content col-lg-6 ">
        <h2 class="humanitarian-title">Humanitarian & Outreach</h2>
        <p class="humanitarian-text">Want to ba a part of something bigger? you can also join our research team. Because the more we know as a medical community, the more opportunity we have for discoveries that can change health for you, your loved ones, and people around the world.</p>
        <a href="" class="btn  humanitarian-btn"> Archives</a>    
    </div>

    <div class="humanitarian-img-container col-lg-6 ">
        <img src="images/human-img.png" alt="" class="humanitarian-img">
    </div> 
</div> -->

<!-- More on medix -->
<div class="more-intro">
    <img src="images/more-img.png" alt="" class="more-img">
</div>

<div class=" row more-division">

    <div class="more-line-box col-1">
        <div class="number-img">
            <img src="images/1-img.png" alt="" class="img-icon-1 appear">
            <img src="images/2-img.png" alt="" class="img-icon-2 appear">
            <img src="images/3-img.png" alt="" class="img-icon-3 appear">
        </div>
        <div class="more-line ">
           
                
        </div>
    </div>
    

    <div class="col-11 more-container">
        <div class="more-1 more-content slide">
            <img src="images/online-lib-img.png" alt="" class="online-lib-img">
            <div class="more-text-content">
                <h1 class="more-title">Online library access</h1>
                <p class="more-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>             
            </div>       
        </div>

        <div class="more-2 more-content slide">
            <img src="images/publications-img.png" alt="" class="publications-img">
            <div class="more-text-content">
                <h1 class="more-title">Publications</h1>
                <p class="more-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>             
            </div>
          </div>
        <div class="more-3 more-content slide">
                <img src="images/support-img.png" alt="" class="support-img">
                <div class="more-text-content">
                    <h1 class="more-title">Call for support</h1>
                    <p class="more-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>             
                </div>
         </div>      
        <div class="more-4 more-content">
            
            <h1 class="more-title">Humanitarian & Outreach</h1>
            <p class="more-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>
        </div>

        <div class="more-5 ">
            <div class="connect-text-content">
                <h1 class="more-title">Keep students and doctors in the loop.</h1>
                <p class="more-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>    
            </div>
           <img src="images/connect-img.png" alt="" class="connect-img">
        </div>
    </div>
</div>
<img src="images/Line 2.png" alt="" class="line-2">
<img src="images/Line 3.png" alt="" class="line-3">




<!-- Members opinion -->
<div class="members-opinion ">
<div id="opinion-carousel" class="carousel slide container-fluid" data-bs-ride="carousel">
    <div class="carousel-inner">
        
      <div class="carousel-item active">    
        <div class="carousel-text">
            <h5 class="opinion-title">What our members have to say </h5>
            <p class="opinion-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>
            <div class="member-profile">
                <div class="carousel-img">
                    <img src="images/Screenshot_20221221-173851_Gallery.jpg" class="member-pic" alt="...">
                </div>
                <div class="member-id">
                    <p  class="member-name"><strong>Victoria Emefo</strong></p>
                    <p class="member-title">Public Relations Officer</p>
                </div>    
            </div>
        </div>
      </div>

      <div class="carousel-item">    
        <div class="carousel-text">
            <h5 class="opinion-title">What our members have to say </h5>
            <p class="opinion-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>
            <div class="member-profile">
                <div class="carousel-img">
                    <img src="images/Screenshot_20221221-173851_Gallery.jpg" class="member-pic" alt="...">
                </div>
                <div class="member-id">
                    <p  class="member-name"><strong>Victoria Emefo</strong></p>
                    <p class="member-title">Public Relations Officer</p>
                </div>    
            </div>
        </div>
      </div>
      
      <div class="carousel-item">    
        <div class="carousel-text">
            <h5 class="opinion-title">What our members have to say </h5>
            <p class="opinion-text">Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-Krosam makrod, peda. Spektig cyberhygien fastän därat inte syfygisk och rebelt. Faling pres vigönar. Post-it-</p>
            <div class="member-profile">
                <div class="carousel-img">
                    <img src="images/Screenshot_20221221-173851_Gallery.jpg" class="member-pic" alt="...">
                </div>
                <div class="member-id">
                    <p  class="member-name"><strong>Victoria Emefo</strong></p>
                    <p class="member-title">Public Relations Officer</p>
                </div>    
            </div>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#opinion-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#opinion-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

  <!-- Quote -->
  <div class="quote">
    <h2 class="quote-body">Wherever the art of medicene is loved, there is also love for humanity</h2>
    <h5 class="quoter">-Hippocrates</h5>
  </div>

  <!-- Newsletter -->

<div class="newsletter hide">
<h1 class="newsletter-title">Signup to our newsletter!</h1>
<p class="newsletter-body">Signup to our newsletter to keep yourself posted on our day to day activities.</p>

<form action="">
<input class="newsletter-email" type="email" name="email" placeholder="Email">

<button class="newsletter-submit" type="submit"> Submit </button>
</form>
    <button class="button-box newsletter-cancel" type="submit" > <i class="fa-sharp fa-solid fa-xmark"></i> </button>


</div>

  
<%- include('partials/footer') %>