body{
    overflow-x: hidden;
   background-color: #FCF6F6;
   font-family: montserrat, sans-serif;
}

/* navbar */
.navbar{
padding: 1% 5%;

background-color: rgba(255, 255, 255, 0.2);
border: 1px solid rgba(255, 255, 255, 0.5);
box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
backdrop-filter: blur(10px);

position: fixed;
top: -90px;
width: 100%;
transition: top 0.3s;

}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
    margin: 10px;
}

.navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #98C7D6;
    color: #FFFFFF;
}

.navbar.visible{
    top: 0;
}

.nav-logo{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    

}
.medlogo{
    height: 35px;
}

.navbar-brand{
    
    font-size: 1.2rem;
    font-family: ubuntu;
    font-weight: bold;
    color: #9A22D2;
}

.nav-link{
    font-weight: bold;
    color:#3F3D3E;
    font-size: 14px;
}

/* Landing Page */
.landing-bg{
    background-color: #98C7D6;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.landing-1{
    background-image: url("images/landing-1-img.png");
    background-color: #98C7D6;
    height: 85%;
    width: 80%;
    margin: 2% auto;
    display: flex;
    filter: drop-shadow(10px 13px 13px rgba(0, 0, 0, 0.21));
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 500px 535px;
    background-position: 100% 100%;
   
}

.landing-1.active{
   animation: rotate-inward 1s forwards;
   transform-origin: left right;
   transform-style: preserve-3d;
   visibility: visible;
}

.landing-1.inactive{
display: none;
}

@keyframes rotate-inward {
    0% {
        transform: scale(1) rotatey(-180deg);
        opacity: 0;
    }

    100% {
        transform: scale(1) rotatey(0deg) ;
        opacity: 1 5s;
    }
}


.landing-1-nav{
    padding: 1% 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: top 0.3s;
}

.l-nav-brand{
    position: relative;
display: flex;


font-family: 'GFS Didot';
font-style: normal;
font-weight: 400;
font-size: 32px;
color: #D9D9D9;

}

.l1-tip{
    position: relative;
height: 35px;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;

/* identical to box height, or 146% */

letter-spacing: 0.04em;

color: #D9D9D9;

}
.landing-1-sec-btn{


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0 24px;


position: relative;
width: 152px;
height: 40px;


background-color: transparent;
border: 1px solid #BEC90A;
border-radius: 24px;
}

.landing-1-sec-btn p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10%;
    /* identical to box height, or 133% */
    letter-spacing: 0.04em;
    font-feature-settings: 'calt' off;
    color: #fbfcfd;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.landing-1-h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 58px;
text-align: center;
padding: 0 25%;


color: #D9D9D9;
text-align: center;
}

.landing-1-btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 8px;
background: #BEC90A;
border-radius: 24px;
width: 199px;
height: 56px;

border-color: transparent;
filter: drop-shadow(10px 13px 13px rgba(0, 0, 0, 0.21));

}


.landing-1-btn p{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 18px;
height: 24px;
/* identical to box height, or 133% */
letter-spacing: 0.04em;
font-feature-settings: 'calt' off;
box-shadow: opx opx 50px #000000;
color: #2E313B;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.landing-1-content{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
top: 40%;
width: 100%;


}

.landing-1-img{
    height: 100%;
    width: 597px;
    z-index: -1;
    position: relative;
    justify-self: center;
    left: -205px;
}

@media (max-width:1120px) {
   .l-nav-brand{
    font-size: 1.5rem;
   }

   .l1-tip{
    font-size: 1rem;
    
    text-align: center;
   display: none;
   }

   .landing-1-sec-btn{
    width: fit-content;
   }

   .landing-1-sec-btn p{
    font-size: 1em;
   }

   .landing-1-h1{
    font-size: 2rem;
    line-height: 2.5rem;
   }
}

@media (max-width: 920px) {
.landing-1{
    height: 85%;
    width: 80%;
    margin: 2% auto;
    display: flex;
    max-width: 100%;
    background-size: 500px 535px;
    background-position: 100% 100%;
   
}

    .landing-1-h1{
        max-width: 100%;
        padding: 2%;
    }
}

@media (max-width: 500px) {
    .l-nav-brand{
        font-size: 1rem;
       }

       .landing-1-sec-btn{
        padding: 0 24px;
        position: relative;
        width: 72px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #BEC90A;
        border-radius: 14px;
       
       }
    
       .landing-1-sec-btn p{
       font-size: 7px;
       margin: auto;
       font-weight: normal;
       }

    .landing-1{
        background-size: 500px 535px;
        background-position: 40% 100%;
        height: 80%;
        width: 80%;
    }

    .landing-1-content{
        top: 50%;
    }

    .landing-1-logo{
        max-width: 70%;
    }
}


/* Landing-2 */
.landing-2{
    background-image: url("images/landing-2-bg.png");
    height: 85%;
    width: 80%;
    margin: 2% auto;
    display: flex;
    filter: drop-shadow(10px 13px 13px rgba(0, 0, 0, 0.21));
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-position: -20% 70%;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    padding: 20px;

   
}

.landing-2.active{
    animation: rotate-outward 1s forwards;
    transform-origin: left right;
    transform-style: preserve-3d;
    visibility: visible;
 }
 
 .landing-2.inactive{
 display: none;
 }
 
 

 @keyframes rotate-outward {
     0% {
         transform: scale(1) rotatey(180deg);
         opacity: 0;
         
     }
 
     100% {
         transform: scale(1) rotatey(0deg);
         opacity: 1 5s;
         
     }
 }

.landing-2-content{
    position: absolute;
    right: 10%;
    top: 30%;
    text-align: center;
    
}

.landing-2-h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    padding: 0 20%;
    color: #D9D9D9;
    text-align: center;
}

.landing-2-btn-1{

width: 123px;
height: 52px;

background: #BEC90A;
border-radius: 24px;
}
.landing-2-btn-1 p, .landing-2-btn-2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    height: 24px;
    /* identical to box height, or 133% */
    
    letter-spacing: 0.04em;
    font-feature-settings: 'calt' off;
    
    color: #2E313B;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.landing-2-subcontent{
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.5px solid #000000;
    padding: 1% 2%;
    backdrop-filter: blur(0px);
    width: 80%;
    height: 150px;
    margin: 15px auto;
    left: 10%;
    border-radius: 5px;

    
}

.landing-2-btn-2{
position: relative;
width: 120px;
height: 52px;
background-color: transparent;
backdrop-filter: blur(10px);
border-radius: 24px;
}

.l2-main-sub{
    flex: 1.5; 
}

.l2-main-sub p, .l2-semi-sub ul{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    letter-spacing: 0.04em;
    list-style-type:none;
    color: #FFFFFF;
}

.l2-main-sub h5{
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

letter-spacing: 0.04em;

color: #FFFFFF;
}

.l2-semi-sub{
    flex: 1;
text-align: end;
}

.l2-semi-sub h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
   
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    
}

@media (max-width: 1300px) {
.landing-2-content{
   right: 0%;
}

}

@media (max-width:1100px) {
    .l2-semi-sub{
        display: none;
    }

    .landing-2-subcontent{
        width: 50%;
        height: auto;
        
    }

    .landing-2-content{
        position: absolute;
        right: -10%;
        top: 30%;
        text-align: center; 
    }
}

@media (max-width:1000px) {
    .landing-2{
        background-size: 600px 600px;
        background-position: -30% 70%;
    }
    .landing-2-content{
        position: absolute;
        right: 0%;
        top: 35%;
        text-align: center; 
    }

    .landing-2-h1{
        font-size: 36px;
        line-height: 40px;
    }

    .landing-2-btn-1{
        width: 103px;
        height: 42px;
        }

        .landing-2-btn-2{
            width: 103px;
            height: 42px;
            }

        .landing-2-btn-1 p, .landing-2-btn-2 p{
            font-size: 16px;
            height: 24px;    
        }

        .landing-2-subcontent{
            width: 80%;
            height: auto;
        }

}

@media (max-width : 900px) {
    .landing-2-content{
        right: -10%;
        top: 40%;
    }

    .landing-2-h1{
        color: #302f2f;
    }
}

@media (max-width : 700px) {
.landing-2{
    background-size: 500px 500px;
    background-position: center 20%;
}

    .landing-2-subcontent{
        display: none;
    }

    .landing-2-content{
        top: 70%;
        margin: 0;
        padding: 0;
    }

    .landing-2-h1{
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
    }
}




/* heropage */
.hero-bg-color{
   
    background: linear-gradient(to bottom,#98C7D6, #FCF6F6);
}

.container-fluid{
    padding: 0 0 0 5%;
   
}

.hero-page{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 100px;
    padding-top: 50px;
}
@media (max-width:767px) {
    .hero-page{
        flex-direction : column-reverse;
        margin-bottom: 60px;
        padding: 20px 20px 0;        
    }
}


.hero-content{
    max-width: 50%;
    padding: 7% 5% 0 0;
}
@media (max-width:770px) {
    .hero-content{
       max-width: 100%;
       padding: 5% 0;
    }
}

.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: rgba(9, 1, 27, 0.81);

}
@media screen and (max-width: 767px){
    .hero-title {
    font-size: 3em;
}
}
@media screen and (max-width: 580px){
    .hero-title {
    font-size: 2.5em;
}
}


.hero-text{
    font-size: 1.2em;
}

.hero-btn{
    height: 48px;
    width: 147px;
    left: 0px;
    top: 186px;
    border-radius: 8px;
    padding: 10px;
    background-color: #9A22D2;
    color: #FCF6F6;

}

img{
    vertical-align: middle;
    display: inline-block;
}

.hero-img{
    width: 100%;
    max-width: 100%;
   
   
}

@media screen and (max-width:767px) {
    .hero-img{
      max-width: 450px; 
      margin: 0%; 
    } 
}

@media screen and (max-width:767px) {
    .hero-img-container{
        display: flex;
        justify-content: center;
    } 
}




/* research section */
.research-title{
    text-align: center;
    font-weight: bold;
    color: rgba(9, 1, 27, 0.81);
}

.research-container{
    display: flex;
    padding: 3% 5%;
    margin-bottom: 10%;
    
   
}

.research-container div:last-child{
    align-self: center;

}



.research-content{
    max-width: 50%;
    padding: 12% 5% 0 0;
}

.research-text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.research-subtitle{
    max-width: 100%;
    height: auto;

    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    
    /* or 170% */

    display: flex;
    align-items: center;
    
    font-feature-settings: 'calt' off;

    color: rgba(9, 1, 27, 0.81);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  
}

.research-text{
    max-width: 100%;
    height: auto;

   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    
    /* or 169% */

    display: flex;
    align-items: center;
    
    font-feature-settings: 'calt' off;

    color: #161014;


}

.research-img{
    height: auto;
    width: 486px;
    max-width: 80%; 
    
}

@media screen and (max-width:991px) {
    .research-img{
      max-width: 70%; 
      margin: 10px 0 20px; 

    } 
}

@media screen and (max-width:991px) {
    .research-img-container{
        display: flex;
        justify-content: center;
    } 
}


.research-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 147px;
    height: 48px;
    
    border: 3px solid #9A22D2;
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #9A22D2;
    font-weight: 700;
}

/* humanitarian section */
.humanitarian-container{
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    
}

.humanitarian-container div:first-child{
    align-self: center;

}

@media screen and (max-width:991px) {
    .humanitarian-container{
        display: flex;
        flex-direction: column-reverse;
    } 
}

.humanitarian-title{
    max-width: 100%;
    height: auto;

    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    
    /* or 170% */

    display: flex;
    align-items: center;
    
    font-feature-settings: 'calt' off;

    color: rgba(9, 1, 27, 0.81);


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.humanitarian-img-container{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:991px) {
    .humanitarian-img-container{
        display: flex;
        justify-content: center;
    } 
}

.humanitarian-img{
    max-width: 80%;
    height: auto;
    width: 486px;
   
}

@media screen and (max-width:991px) {
    .humanitarian-img{
        max-width: 100%;
        height: auto;
        width: 486px;
        margin: 10% 0 5%;
        padding: 0;
    } 
}

.humanitarian-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    
    width: 147px;
    height: 48px;
    
    border: 3px solid #9A22D2;
    border-radius: 8px;
    background-color: #9A22D2;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #fff;
    font-weight: 700;
}

/* Call to action section */

.call-to-action{
    background-image: url("images/cta-img.png");
    width: 100vw;
    height: 90vh;
}



.call-to-action-h1{
    padding-top: 9%;
    color: #FCF6F6;
    font-size: 56px;
    line-height: 75px;
    font-weight: 400;
    letter-spacing: -0.01em;
    padding-left: 30%;
    padding-bottom: 3%;
    font-family: "Helveticaneue Regular", sans-serif;
}

.call-to-action-p{
    
    font-family: "Helveticaneue Regular", sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #fff;
    padding-left: 30%;
}

.follow-up-img{
    width: 100vw;
    height: 100vh;
    margin-bottom: 10%;
    transition: width 1s;
    max-width: 100%;
}

.follow-up-cta{
    max-width: 100%;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .call-to-action{
        background-image: url("images/cta-img.png");
        width: 100vw;
        height: 70vh;
    }

    .follow-up-img{
        height: 50vh;
    }

    .call-to-action-h1{
        padding-top: 20%;
        color: #FCF6F6;
        font-size: 36px;
        line-height: 45px;
        font-weight: 400; 
    }

    .call-to-action-p{
    
        font-family: "Helveticaneue Regular", sans-serif;
        font-size: 16px;
        line-height: 32px;
        font-weight: normal;
        color: #fff;
        padding-left: 30%;
    }
}

@media screen and (max-width:770px) {
    .call-to-action{
        height: 50vh;
    }
    
    .follow-up-img{
        height: 30vh;
    }
    
    .call-to-action-h1{
        padding-left: 5%;
        padding-top: 20%;
        font-size: 32px;
        font-weight: 500;
        margin-top: 0;
    }
    
    .call-to-action-p{
        padding-left: 5%;
        padding-top: 5%;
    }
}


/* More On Medix Section */


.more-img{
    padding-left: 100px;
}
.more-division{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3% 0 0 110px;
}



.img-icon-1{
    position: relative;
    width: 100px;
    left: -37px;
    object-position: 50% 50%;
    top: 90px;
    
    
}

.img-icon-2{
    width: 100px;
    position: relative;
    left: -37px;
    object-position: 50% 50%;
    top: 400px;
}

.img-icon-3{
    width: 100px;
    position: relative;
    object-position: 50% 50%;
    left: -37px;
    top: 800px;
}

.more-container{
   display: flex;
   flex-direction: column;
   justify-content:space-between;
  
  
   
}

.more-content{
    padding: 5%;
    margin-bottom: 5%;
}

.more-text-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 5% 0;
}

.more-1, .more-2, .more-3, .more4{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:770px) {
    .more-1, .more-2, .more-3{
        display: flex;
        flex-direction: column;
        
    }
}

@media screen and (max-width:770px) {
    .more-1, .more-2, .more-3, .more-4, .more-5{
        margin: 20% auto;
    }
}

.more-title{
    font-size: 18px;
    font-weight: bold;
    color: rgba(9, 1, 27, 0.81);
}


.online-lib-img{
    height: auto;
    width: 584px;
    
    border-radius: 0px;
    max-width: 60%;

}

.publications-img{
    height: auto;
    width: 584px;
    max-width: 60%;
    border-radius: 0px;

}

.support-img{
    height: auto;
    width: 584px;
    max-width: 60%;
    border-radius: 0px;
}


.more-line{
    position: relative;
    border-left: 18px solid #9A22D2;
    height: 1500px;
    z-index: -1;
    top: -100px;
    margin-top: 20px;
    transform-origin: top;

    /* position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: -350px;
    margin-top: 20px; */
}


.line-2{
    width: 500px;
    position: relative;
    top: -800px;
    z-index: -1;
    object-position: 50% 50%;
    left: 100px;
}

@media screen and (max-width:1000px) {
    .line-2{
        display: none;
    }
}

.line-3{
    width: 115px;
    position: relative;
    top: -800px;
    z-index: -1;
    object-position: 50% 50%;
    left: 95px;
}

@media screen and (min-width:1000px) {
    .line-3{
        display: none;
    }
}

@media screen and (max-width:770px) {
    .online-lib-img, .publications-img, .support-img{
        max-width: 100%;
    }
}




/* More-4 */
.more-4{
    padding: 0 50% 0 10%;
}

.more-4-img{
    width: 200px;
    height: auto;
    max-width: 30%;
}

.more-5{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.connect-text-content{
    padding: 0 5% 0 10%;
}
.connect-img{
    width: 500px;
    height: auto;
    max-width: 50%;   
}

@media screen and (max-width:1000px) {
    
    .more-4{
        padding: 0 5% 0 10%;
    }
   .more-5{
    display: flex;
    flex-direction: column;
   }

   .connect-img{
    align-self: flex-end;
    max-width: 100%;
    margin-top: 5%;
   }
}

.members-opinion{
    position: relative;
width: 1280px;
height: auto;
max-width: 80%;
margin: 0 auto;
top: -400px;
background: #40065B;
border-radius: 20px;


color: #FCF6F6;
}

.carousel-item{
width: 100%;
height: auto;
padding: 100px 0px;
margin-left: 50px;

}

.opinion-title{
font-weight: bold;


color: #03FFA4;

}

.carousel-text{
    max-width: 80%;
    padding: 3% 5%;
}
.member-profile{
    display: flex;
    flex-direction: row;
    
}
.member-profile :last-child{
    display: flex;
    flex-direction: column;
    align-self: center;
   
}

.member-id{
    padding-left: 10px;
}
.member-name{
    margin-bottom: 0;
}
.member-title{
    font-size: 12px;
    color:hwb(309 78% 19% / 0.541);
}


.member-pic{
    display: inline-block;
    width: 106px;
    height: 102px;
    background: url(.jpg), #D9D9D9;
box-shadow: 0px 15px 70px 5px rgba(0, 0, 0, 0.13);
border-radius: 200px 200px 200px 0px;
}


/* Quote */

.quote{
    position: relative;
    max-width: 50%;
        padding: 0 8%;
text-align: center;
top: -200px;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;


}

@media screen and (max-width : 700px) {
    .quote{
        max-width: 100%;
        padding: 0 5%;
        
    }
}

.quote-body{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;



text-align: center;
letter-spacing: -0.01em;

color: #3F3D3E; 

}

.quoter{
   
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;

text-align: center;
letter-spacing: -0.01em;

color: #585557; 

}

/* Newsletter */

.newsletter{
    background-image: url("images/newsletter-img.png");
    width: 685px;
    height: 392px;
    position: fixed;
    
    margin: 0 auto;
  
    top: 20%;
    z-index: 100;
    filter: alpha;
    max-width: 70%;
    cursor: pointer;
    box-shadow: #03FFA4;
    transition: all 2s ease;
    opacity: 1;
    

}

.hide{
    display: none;
    opacity: 0;
}

.newsletter-active{
    background-color: #D9D9D9;
    overflow-y: hidden;
}

.newsletter-title{
    width: 659px;
    height: 29px;
    
    max-width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 24px;   
    letter-spacing: -0.01em;   
    color: #D9D9D9;
    padding: 10% 5%;
    
}

.newsletter-body{
   
    width: 363px;
    max-width: 100%;
    height: 45px;
   
   
    padding: 0 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 141% */
    
    letter-spacing: -0.01em;
    
    color: #D9D9D9;
      
}


.newsletter-email{
display: flex;
flex-direction: row;
align-items: center;
margin: 5%;
gap: 10px;
width: 50%;
height: 48px;
left: 43px;


color: black;
background: rgba(217, 217, 217, 0.6);
border: 3px solid #D9D9D9;
border-radius: 8px;

}

.newsletter-email:focus{
    box-shadow: 0 0 15px #585557,
}
.newsletter-email:hover{
    box-shadow: 0 0 15px #585557;
    border: 2px solid #D9D9D9;

}

::placeholder{
    color: black;
}

.newsletter-submit{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 5%;
gap: 10px;
width: 50%;
height: 48px;
left: 42px;

border: 3px solid #FEFCFF;
border-radius: 8px;
background: none;
color: white;
}

.newsletter-submit:hover{
    letter-spacing: 2px;
    border: 1px solid #FEFCFF;
}


.newsletter-cancel{
    position: absolute;
    background-color: #D9D9D9;
    top: 11px;
    right: 0;
    height: 45px;
    width: 50px;
    border-radius: 0 5px 0 50px;
    padding-left: 13px ;
}

.newsletter-cancel:hover{
    font-size: 18px;
}

@media (max-width:700px) {
    .newsletter{
        width: 300px;
        height: 300px;
       

    }

    .newsletter-title{
        font-size: 1.5em;
        max-width: 100%;
    }

    .newsletter-email{
        height: 20px;
        margin: 0;
       
    }

    .newsletter-submit{
        height: 20px;
        margin: 0;
        
    }
}


/* Footer */
.footer{
    background-color:#40065B;
    color: #D9D9D9;
    margin: 0;
  
}

.footer-p{
    margin-bottom: 0;
    text-align: center;
}

.footer-items{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 5%;
    list-style-type: none;
    
}

.footer-link{
    text-decoration:none;
    color: #D9D9D9;
    font-weight: 400;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    position: relative;
    transform: translateY(0);
    opacity: 1;
}

.slide{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.slide.active{
    position: relative;
    transform: translateX(0);
    opacity: 1;
}

.appear{
    position: relative;
    
    opacity: 0;
    transition: all 2s ease;
}

.appear.active{
    position: relative;
   
    opacity: 1;
}

.grow{
    position: relative;
    height: 0;
    
    transition: all 2s ease;
}

.grow.active{
    position: relative;
    height: 97vh;
   
}




/************************************************ BLOG.EJs ***********************************************************/

.blog-heading{
    text-align: center;
    font-family: 'GFS didot';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 24px;
    
    /* identical to box height, or 19% */

    
    letter-spacing: -0.01em;

    color: #000000;
    margin: 10%;

}

.insight{
color: #FCF6F6;
background-color: #000000;
padding: 5px;
margin-left: -10px;
height: 0;
border-left: 50px;
border-right: 100px;
}

#blog-container{
    margin-top: 30px;
 
}



.date-box{
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   padding: 1px;
   margin-right: 15px;

    
  
    
    background: #9A22D2;
}

.blog-date{
    width: 53px;
    height: auto;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    
    
    /* or 75% */

    text-align: center;
    letter-spacing: 0.01em;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.blog-line{
    border-bottom: 1px solid #817e80;
    width: 50%;
    height: 0;
    margin: 15px auto;

}

.blog-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    padding-left: 13%;
}


.blog-topic{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    text-decoration: none;
    /* identical to box height, or 75% */

    
    letter-spacing: -0.01em;

    color: #9A22D2;

}

.blog-topic:hover{
    color: #b53fec;
}

.blog-writer{
    font-family: 'Lato';
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 100% */

    
    letter-spacing: -0.01em;

    color: #000000;

}



.blog-content{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 15px;

}

.blog-img-box{
    display: flex;
    flex-direction: column;
    align-self: center;
    
}

.blog-img{
    width: 200px;
height: 141.96px;

}

@media screen and (max-width : 1000px) {
    .blog-heading{
      margin-top: 30px;
      font-size: 50px;
        
    }

    #blog-container{
        margin: 5%;
    }

    .bloggish{
        display: flex;
        flex-direction: column-reverse;
    }
    .blog-img-box{
        margin: 3% 0;
    }
}


/************************************************** Post Section************************************************ */

.post-heading{
    text-align: center;
    margin: 3%;
    font-family: gfs didot;
    font-size: 96px;
}

#post-section{
    display: flex;
    flex-direction: column;
    
    padding: 0 20%;
    flex: 1;
    
}

.postdate-box{
    align-self: flex-start;
    background-color: #9A22D2;
}

.post-topic{
    font-size: 64px;
    font-family: gfs didot;
    color: #000000;
    text-align: center;
}

.post-subtopic{
    font-family: 'Lato';
    font-style:normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    align-self: flex-start;
    /* identical to box height, or 75% */

    
    letter-spacing: -0.01em;

    color: #000000;
}

.post-writer{
    
    font-family: gfs didot;
    font-size: 16px;
    font-style: italic;
    color: #9A22D2;
    text-align: center;
}
.post-img-box{
    width: 100%;
   margin: 3% 0;
}
.post-img{
    width: 100%;
    height: 400px; 
    max-height: 50%;  

}

.post-content{
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}



/* ****************************************************More Articles section *******************************************/
.more-articles-section{
    margin-top: 150px;
}

.more-articles-heading{
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 30px;
    
}

.articles-cards{
    width: 400px;
    height: auto;
    background-color: #f0eaea;

}

.article-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-date-box{
    
    background-color: #9A22D2;
    height: auto;
    

}

.article-writer{
    
        font-family: gfs didot;
        font-size: 16px;
        font-style: italic;
        color: #9A22D2;
        text-align: flex-start;
    
}

.cards-img{
    width: 100%;
height: auto;
}

.card-id{
    justify-self: flex-end;
    
    padding: 3% 0 0 3%;
}

.card-title{
    font-family: gfs didot;
font-size: 24px;
font-weight: bold;
line-height: 24px;
letter-spacing: -0.01em;


}

.card-text{
    font-family: Lato;
font-size: 16px;
font-weight: normal;

letter-spacing: -0.01em;
text-align: left;
padding: 3%;

}



/* ****************************************Compose Form */
.compose-form{
    padding: 5%;
}


/* ****************************************DirectoryForm */
.dict-body{
    background-image:url("images/contact-us.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3F3D3E;
    background-blend-mode: overlay;
    backface-visibility: 90%;
}

.dict-main-title{
    font-family: 'Gfs didot', sans-serif;
    font-size: 64px;
    text-align: center;
    color: #d5fade;
}



.main-dict{
    background-color: #825B5B;
    width: 322px;
    height: auto;
    margin-left: 6.9%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 20px ;
    border-radius: 15px;
    box-shadow: 0px 11px 16px -1px rgba(80, 80, 80, 0.25);
    float: left;
}
.dict-top{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
 
}

.delete-dict{
    border: none;
    background: none;
    position: relative;
    left: -10%;
}

.delete-dict:hover{
    font-size: 18px;
    
}

.dict-img{
    width: 150px;
    height: 130px;
    
}
.dict-title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 41px;
    color: #44B6F7;
    margin-bottom: 3%;
}
.dict-text{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 5px 0 0 15px ;
}

.dict-text.role{
    color: goldenrod;
    margin-top: 5px;
}


.dict-surname{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    font-size: 18px;

}


.sub-dict{
    background-color:  #D9D9D9;
    font-family: 'Inter', sans-serif;
    margin: 5%;
    padding: 0 3%;
    border-radius: 50px;
}



.dict-input{
    background-color: #296952;
    width: fit-content;
    height: auto;
    margin-left: 6.9%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 20px ;
    border-radius: 15px;
    box-shadow: 0px 11px 16px -1px rgba(80, 80, 80, 0.25);
    float: left;
}

.dict-names{
    display: flex;
}


.dict-input-name{
    width: 130px;
    background-color:  #D9D9D9;
    font-family: 'Inter', sans-serif;
    margin: 3%;
    
    
    border-radius: 50px;
}

.dict-names ::placeholder{
    color: rgb(46, 45, 45);
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    padding: 5%;
}

.dict-button-div{
    display: flex;
    justify-content: center;
}

.dict-button{
border-radius: 50px;
background-color: #1d3ceb;
color: #ebe6e9;
font-family: "Inter", sans-serif;
font-size: 16px;
border-color: #d5fade;

box-shadow: 0px 11px 16px -1px rgba(80, 80, 80, 0.25);

}

.dict-button:hover{
    background-color: #3956fa;
}
/********************************************************Gallery**************/
#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-box{
    width: auto;
  }
  .gallery-image{
   width: 200px;
   height: 200px;
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .gallery-card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-img{
    border: none;
    background: none;
    position: relative;
    left: 0;
}

.delete-img:hover{
    font-size: 18px;
    
}


  #loader {
    display: flex;
  }
  .skeleton-card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    position: relative;
    background-color: #eaeaea;
  }
  .skeleton-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: load 1s infinite;
  }
  @keyframes load {
    100% {
      transform: translateX(100%);
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .skeleton-card::after {
      animation: none;
    }
  }